*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.contenuto{
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 90px;
    padding-left: 0.5rem;
    padding-right:0.5rem;
}
.box{
    display: flex;
    flex:0.5;
    background:linear-gradient(#b2b2b2, #efefef);
    margin: 25px;
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
}
article{
    padding: 20px;
}
.cat{
    display: flex;
    width: 100%;
    height: 160px;
}
.sphere{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
header{
    display: flex;
    height: 20%;
    margin-top: 5px;
    margin-left: 10px;
    align-items: center;
}
.cuore{
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-left: 10px;
}
.menù{
    display: flex;
    width: 61%;
    height: 50px;
    align-items: center;
    justify-content: end;
}
.messaggi{
    width: 25px;
    height: 25px;
    padding: 2px;
    margin-left: 10px;
}
.icon{
    display: flex;
}
.data{
    color: white;
}
.dots{
    width: 30px;
    height: 30px;
}
@media(max-width:768px) {
    .contenuto{ 
        flex-wrap: wrap;
    }
}
@media(max-width:375px) {
    .contenuto{
        flex-direction: column;
        justify-content: center;
   max-width: 100%;
    }
}