.Navbar{
    border: 1px solid white;
    background-color: rgb(23, 21, 45); 
    width: 520px;
    height: 25px;
}
header{
    color:white;
    display: inline;
}
a{
    background-color: transparent;
    text-decoration: none;
    color:gray;
    margin-right: 5px;
    margin-left: 5px;
}
a:hover{
    color: white;
}
.button:hover{
    color: greenyellow;
}
#site-search{
    border-radius: 3px;
    border: none;
    width: 120px;
    margin-left: 30px;
}
select{
    color: gray;
    background-color: transparent;
    border: none;
    width: 55px;
    margin-right: 10px;
    margin-left: 10px;
}